<div class="register-container">
  <h2>Créer un compte</h2>
  <form [formGroup]="registerForm">
    <input formControlName="email" placeholder="Adresse email" type="email" required />
    <input formControlName="password" placeholder="Mot de passe" type="password" required />
    <input formControlName="firstName" placeholder="Prénom" required />
    <input formControlName="lastName" placeholder="Nom" required />
    <button type="submit">S'inscrire</button>
  </form>

  <div *ngIf="message" class="message">{{ message }}</div>

  <div class="landing-link">
    <p>Déjà un compte ?</p>
    <button routerLink="/" class="login-btn">Se connecter</button>
  </div>
</div>

<!-- Pizza's Scroller -->
<div class="pizza-scroller">
  <div class="pizza-container">
    <img *ngFor="let pizza of duplicatedPizzas" [src]="pizza.imgUrl" [alt]="pizza.name" class="pizza" />
  </div>
</div>

<footer>
  <p>&copy; 2025 APIZZAPP. Tous droits réservés.</p>
</footer>
