<!-- src/app/landing/landing.component.html -->
<div class="landing-container">
    <header>
      <h1>Bienvenue sur APIZZAPP</h1>
      <p>I migliori pizzaioli di Corsica. S'elli ùn ci crede, semu pronti à scatenà a vostra casa.</p>
    </header>
    <section class="cta">
      <button routerLink="/menu" class="btn btn-primary">Découvrir le Menu</button>
    </section>
  
    <!-- Section du défilement de pizzas -->
    <div class="pizza-scroller">
      <div class="pizza-container">
        <img *ngFor="let pizza of duplicatedPizzas" [src]="pizza.imgUrl" [alt]="pizza.name" class="pizza">
      </div>
    </div>
  
    <footer>
      <p>&copy; 2025 APIZZAPP. Tous droits réservés.</p>
    </footer>
  </div>
  