<div class="dashboard-container">
  <div class="dashboard-card">
    <header class="dashboard-header">
      <h1>Tableau de bord – Opérateur</h1>
    </header>
    <div class="dashboard-body">
      <div class="dashboard-buttons">
        <section class="dashboard-section">

          <button routerLink="/planning" class="btn">
            Planning
          </button>
        </section>

        <section class="dashboard-section">
          <button routerLink="/dashboards/operator/ingredients" class="btn">
            Disponibilité des ingrédients
          </button>
        </section>
      </div>

        <section class="dashboard-section">
          <button routerLink="/menu" class="btn">
            Menu
          </button>
        </section>
    </div>
  </div>
</div>
