<div class="dashboard-container">
  <div class="dashboard-card">    
    <header class="dashboard-header">
      <h1>Tableau de bord – Administrateur</h1>
    </header>
    <div class="row g-4">
      <div class="col-md-6">
        <div class="admin-card" routerLink="/dashboards/operator/ingredients">
          <h3>Gestion des Ingrédients</h3>
          <p>Gérer la disponibilité des ingrédients pour les pizzas</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="admin-card" routerLink="/planning">
          <h3>Planning</h3>
          <p>Voir toutes les commandes en cours</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="admin-card" routerLink="/menu">
          <h3>Menu</h3>
          <p>Passer une commande</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="admin-card">
          <h3>Comptabilité</h3>
          <p>Consulter les rapports de ventes</p>
        </div>
      </div>
    </div>
  </div>
</div>
