
<div class="container mt-4">
  <h1 class="text-center mb-4">Choix des suppléments</h1>
  
  <div class="row">
    <div *ngFor="let half of halves" [ngClass]="halves.length > 1 ? 'col-6' : 'col-12'">
      <div class="row mb-4">
        <!-- Pizza selectionnée -->
        <div class="col-3">
          
          <div class="card pizza-card">
            <img [src]="half.pizza.imageUrl" [alt]="half.pizza.name" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title text-center">{{ half.pizza.name }}</h5>
            </div>
          </div>
        </div>
        
        <!-- <div class="col-9">
          
        </div> -->
        
        <!-- Choix des sauces -->
        <div class = "col-8">
          <h2>Sauce</h2>
          <div class="row">
            <div class="col-4" *ngFor="let sauce of sauces" (click)="onSelectSauce(half, sauce)">
              <div class="card sauce-card" [ngClass]="sauce === half.sauce ? 'selected-card' : ''">
                <!-- <img [src]="sauce.imageUrl" class="card-img-top" [alt]="sauce.name"> -->
                <div class="card-body">
                  <h5 class="card-title text-center">{{ sauce.name }}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-1">
          <!-- Choix des tailles -->
          <h2>Taille</h2>
          <div *ngFor="let size of sizes;" class="card taille-card mb-1" [ngClass]="size === selectedSize ? 'selected-card' : ''" (click)="onSelectSize(size)">
            <div class="card-body">
              <h5 class="card-title text-center">{{size.label}}</h5>
            </div>
          </div>
        
          <!-- Moitié/Moitié -->
          <!-- <div class="card mt-4">
            <div class="card-body">
              <a href="{{ url_for('choose_pizza') }}">
                <h5 class="card-title text-center">Moitié </h5>
              </a>
            </div>
          </div> -->
          
        </div> 
      </div>  
      
      <!-- Ingredients de la pizza -->
      <div class="row" id="ingredients-container">
        <div *ngFor="let ingredient of half.pizza?.baseIngredients" class="col-md-3 col-sm-6 mb-4">
          <div class="card"  [ngClass]="{ 'card-deplement': half.deplements.includes(ingredient) }" (click)="toggleIngredient(half, ingredient)">
            <img [src]="ingredient.imageUrl" [alt]="ingredient.name" class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title text-center">{{ ingredient.name }}</h5>
            </div>
          </div>
        </div>
        <div *ngFor="let supplement of half.supplements; let i = index" class="col-md-3 col-sm-6 mb-4">
          <div class="card supplement-card" (click)="removeSupplement(half, i)">
            <img [src]="supplement.imageUrl" [alt]="supplement.name" class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title text-center">{{ supplement.name }}</h5>
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <!-- Bouton valider -->
    <div class="text-center mt-4">
      <a class='btn btn-primary' (click)="addToCart()">Ajouter cette pizza</a>
    </div>
    
    <div *ngFor="let half of halves" [ngClass]="halves.length > 1 ? 'col-6' : 'col-12'">
      <!-- Display Supplements Grid -->
      <h1>Supplements</h1>
      <div class="row">
        <div *ngFor="let supplement of ingredients" class="col-md-3 col-sm-6 mb-4">
          <div class="card supplement-card" 
          [ngClass]="{'disabled': !supplement.availableAsSupplement}"
          (click)="supplement.availableAsSupplement && addSupplement(half, supplement)">
            <img [src]="supplement.imageUrl" [alt]="supplement.name" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title text-center">{{ supplement.name }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
